*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

:root{
    --clr-primary: #FDDCD7;
    --clr-dark: black;
    --clr-light: white;
    --clr-design: #C4C4C4;
    --fw-normal: 400;
    --fw-bold: 700;
    --fw-black: 900;
}
body{
    overflow-x: hidden;
}

nav{
    font-size: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Abhaya Libre';
    background-color: var(--clr-primary);
    min-height: 8vh;
    min-width: 100vh;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 85%;
    min-width: 100%;
}
.nav-links a{
    color: var(--clr-dark);
    text-decoration: none;
    letter-spacing: 3px;
    font-size: .875em;
    text-transform: uppercase;
}
.nav-links li{
    list-style: none;
}
.nav-bar{
    display: none;
}
.nav-bar div{
    width: 20px;
    height: 3px;
    background-color: var(--clr-design);
    margin: 3px;
}
.main{
    font-size: 1rem;
}

.main__title{
    padding: 3em, 1em;
    font-weight: var(--fw-bold);
    font-size: 6rem;
    font-family: 'Abhaya Libre';
    line-height: 1;
    /*align-items: center;
    text-align: center;*/
    text-align: left;
    position: relative;
    max-width: 75%;
    max-height: 50%;
    left: 10vw;/*10rem;*/
    top: 7vh;/*7rem;*/
}

.main__intro{
    position: absolute;
    /*width: 669px;
    height: 300px;*/
    padding-top: 2.8em;
    max-width: 55%;
    max-height: 50%;
    left: 6vw;/*7.5rem;*/
    top: 20vh;/*13rem;*/
    font-family: Abhaya Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem; /*2rem*/
    line-height: 1.25;
}

.circle-right{
    color: var(--clr-primary);
    position: relative;
    /*800px
    NEW: icon/wholecircle
    width="150%"
    left: 840px;
    top: 30px;  
    /*background-size: 20px 30px;*/
    left: 850px;
    top: -550px;
    max-width: 45%;
    max-height: 50%;
    z-index: 1;
}

.circle-left{
    color: var(--clr-primary);
    position: relative;
    left: -40px;
    top: -100px;
    max-width: 45%;
    max-height: 50%;
}
.serena{
    /*374px
    width="69%"*/
    position: relative;
    left: 900px;
    bottom: 100vh;
    z-index: 2;
    opacity: .8;
    max-width: 30%;
    max-height: 30%
    /*min-width: 100%;
    height: auto;*/
}

.btn--resume{
    background-color: var(--clr-primary);
    position: absolute;
    width: 220px;
    height: 50px;
    left: 222px;
    top: 550px;
    border-radius: 24px;
    /*border-color: var(--clr-design);*/
    text-transform: uppercase;
    font-family: Antic;
    font-size: 1.5em;
    color: var(--clr-dark);
    text-align: right;
    padding-right: 30px;
    letter-spacing: 2px;
}

.resume-img{
    position: absolute;
    width: 44px;
    height: 44px;
    left: 258px;
    top: 553px;
}

.btn--port{
    background-color: var(--clr-primary);
    position: absolute;
    width: 220px;
    height: 50px;
    left: 555px;
    top: 550px;
    border-radius: 24px;
    border-color: var(--clr-primary);
    text-transform: uppercase;
    font-family: Antic;
    font-size: 1.5em;
    color: var(--clr-dark);
    text-align: right;
    padding-right: 15px;
    letter-spacing: 1px;
}

.portfolio-img{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 576px;
    top: 555px;
}

.media-handles{
    font-family: Abhaya Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    display: none;
}
/*
.email{
    display: flex;
    position: absolute;
    left: 75.14%;
    right: 22.57%;
    top: 78.91%;
    bottom: 17.87%;
}
.linkedin{
    display: flex;
    position: absolute;
    width: 33px;
    height: 33px;
    left: 1082px;
    top: 647px;
}*/

@media screen and (max-width: 900px){
    nav{
        display: flex;
        justify-content: flex-end;
        padding-right: 20px;
    }
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: var(--clr-primary);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        color: var(--clr-dark);
    }
    main{
        display: none;
    }
    .nav-links li{
        opacity: 1;
    }
    .nav-bar{
        display: block;
    }
}