/* Base styles */

.main-content {
  display: flex;
  padding: 20px;
  height: 100vh; /* Ensures the container takes the full viewport height */
}

.left-panel {
  flex: 0.4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-panel img {
  border-radius: 50%;
  width: 170px;
  height: 250px;
  margin-bottom: 20px;
  border: 5px solid rgb(249, 224, 221);
}

.right-panel {
  flex: 2;
  padding-left: 2rem; /* Increased padding for better spacing */
  padding-top: 2rem; /* Increased padding for better spacing */
  padding-right: 2rem; /* Increased padding for better spacing */
  display: flex;
  flex-direction: column;
}

.right-panel p {
  margin-bottom: .5em; /* Add margin to paragraphs for better spacing */
  font-size: large;
}

.right-panel h1 {
  color: rgb(248, 180, 173);
  margin-bottom: 0%;
}

.contact-info {
  margin-top: 20px;
  font-style: italic;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  margin-right: 10px;
}
